<div class="w3-top">
    <div class="w3-bar w3-white w3-card" id="myNavbar">
        <a href="http://localhost:8000" class="w3-bar-item w3-button w3-wide">Volunteering</a>
        <!-- Ссылки в меню -->
        <div class="w3-right w3-hide-small">
            <a href="http://localhost:8000/index" class="w3-bar-item w3-button">ДОМ</a>
            <a href="http://localhost:8000/events" class="w3-bar-item w3-button"><i class="fa fa-newspaper-o"></i>
                СОБЫТИЯ</a>
            <a href="http://localhost:8000/donate" class="w3-bar-item w3-button"><i class="fa fa-th"></i> ДОТАЦИИ</a>
            <a href="http://localhost:8000/about" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> ПРО
                НАС</a>
            {% if user.is_authenticated %}
            <a href="http://localhost:8000/account" class="w3-bar-item w3-button"><i class="fa fa-user "></i> АККАУНТ
            </a>
            {% else %}
            <a href="http://localhost:8000/account" class="w3-bar-item w3-button"><i class="fa fa-user "></i> ВОЙТИ </a>
            {% endif %}
        </div>
        <!-- Показ "гамбургера" вместо меню на маленьких экранах -->

        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"
           onclick="w3_open()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</div>

<!-- Меню для маленьких экранов -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none"
     id="mySidebar">

    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
    <a href="http://localhost:8000/index" onclick="w3_close()" class="w3-bar-item w3-button"> ДОМ</a>
    <a href="http://localhost:8000/events" onclick="w3_close()" class="w3-bar-item w3-button"> СОБЫТИЯ</a>
    <a href="http://localhost:8000/donates" onclick="w3_close()" class="w3-bar-item w3-button"> ДОТАЦИИ</a>
        <a href="http://localhost:8000/about" onclick="w3_close()" class="w3-bar-item w3-button"> ПРО НАС</a>
        {% if user.is_authenticated %}
        <a href="http://localhost:8000/account" onclick="w3_close()" class="w3-bar-item w3-button"><i
                class="fa fa-user "></i> АККАУНТ </a>
        {% else %}
        <a href="http://localhost:8000/account" onclick="w3_close()" class="w3-bar-item w3-button"><i
                class="fa fa-user "></i> ВОЙТИ </a>
        {% endif %}
</nav>